<p>Change your account settings and view your postings on the left drop down, browse postings on the left nav item.</p>

<p>Sample Accounts:<br>
testadmin@jobs.local password: testadmin type: admin<br>
testdepartment@jobs.local password: testdepartment type: department<br>
testapplicant@jobs.local password: testapplicant type: applicant

</p>	
